#para1{
   font-size: 18pt;    
}
#para2{
   font-size: 2em;    
}
#para3{
   font-size: 5vh;    
}
#para4{
    font-family: 'monospace';
    font-size: 50px;
}
#para5{
    font-style: italic;
    font-weight: lighter;
    word-spacing: 10px;
    letter-spacing: 5px;
}

